@import url('https://fonts.googleapis.com/css2?family=Bitter');

body {
  width: 90%;
  font-family: "Bitter", Geneva, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}
h1 { color: #446688; }
h2,h3 { color: #6688aa; }
blockquote {
  font-size: 14px;
  font-style: italic;
}
